* {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body {
    display: grid !important;
    background: #fafcf1;
}
html, body {
    width: 100%;
    height: 100%;
}

.blog-title {
    text-align: center;
    font-weight: bold;
}
.blog-info {
    width: 100%;
    padding: 15px;
    display: flex;
    font-size: large;
    background: #f8f8f8;
    border-radius: 5px;
    font-family: monospace;
    gap: 6px;
    flex-direction: column;
}
.blog-info .column {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.blog-info .column a img {
    width: 20px;
    height: 20px;
}
.blog-info .column .time, .blog-info .column.tags{
    font-size: 14px;
    color: #999aaa;
}
.blog-info .column.tags .tag {
    color: #277ccc;
    cursor: pointer;
}
.blog-content {
    justify-self: center;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 50px;
    margin: 12px auto;
}
.blog-content .back {
    color: orangered;
    font-size: 13px;
    position: relative;
}
.blog-content .back i {
    font-size: 12px;
}
.blog-footer {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.blog-footer button {
    width: max-content;
}
.submit-comment {
    position: absolute;
    right: 8%;
    transform: translateY(-60px);
}

.comment {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    gap: 8px;
    width: 100%;
    background: #fafafa !important;
}
.comment .comment-btn {
    float: right;
    margin-right: 10px;
    margin-bottom: 2px;
}
.comment .children {
    width: calc(100% - 20px);
}
.comment .avatar {
    width: 44px;
    height: 44px;
}
.comment .arrow {
    font-size: 12px;
}
.comment .comment-content {
    width: calc(100% - 10px);
}
.comment .comment-content .content {
    padding: 6px;
}
.highlight-span {
    cursor: pointer;
}
.comment .comment-content .children .comment {
    background: #fff !important;
}
@media screen and (max-width: 768px) {
    .blog-content {
        padding: 15px;
    }
    .blog-info {
        padding: 5px;
    }
    .blog-footer {
        flex-direction: column;
        align-items: center;
    }
    .submit-comment {
        transform: translateY(-50px);
        right: 14px;
    }
}