# Global
.idea
config.yaml

# Build
deeptrain
deeptrain.exe

storage/avatar/*
!storage/avatar/.gitkeep
storage/qrcode/*
!storage/qrcode/.gitkeep

# Backend (Django)
backend/.idea
backend/.vscode
backend/.vs
backend/files/database/*/*
backend/db.sqlite3
backend/whoosh_index
*.pyc

# Frontend (Vue)
frontend/package-lock.json
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local
frontend/cypress/videos/
frontend/cypress/screenshots/
frontend/.vs
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
