Django==3.2.16
django-redis==5.2.0
django-simpleui==2022.12.12
PyJWT==2.6.0
PyMySQL==1.0.2
rich==12.6.0
six==1.16.0
geoip2==4.6.0
psutil==5.9.4
timeloop==1.0.2
redis==4.4.0
django-hcaptcha==0.2.0
numpy==1.21.6
django-imagekit==4.1.0
