@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.loli.net/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

.poppins{font-family: 'Poppins', Consolas, Monospace, monospace !important;}
.nunito{font-family: 'Nunito', Consolas, Monospace, monospace !important;}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --blue: #00b0ff;
    --left: min(36.7%, 340px);
    --right: calc(100% - var(--left));

    --me-background: #00b0ff;
    --me-color: #fff;
    --you-background: #eceff1;
    --you-color: #000;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Poppins', Consolas, Monospace, monospace !important;
    font-weight: 400;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg");
    background-size: cover;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
}

.container .left {
    float: left;
    width: var(--left);
    height: 100%;
    border: 1px solid var(--light);
    background-color: var(--white);
}

.container .left .top {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 29px;
}

.container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
}

.container .left input {
    float: left;
    width: 188px;
    height: 42px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.container .left input:focus {
    outline: none;
}

.container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

.container .left .people {
    margin-left: -1px;
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
    width: calc(100% + 2px);
    padding: 0;
    user-select: none;
}

.container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: var(--white);
}

.container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
}

.container .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container .left .people .person img {
    border-radius: 4px;
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
    color: var(--grey);
    background-color: var(--white);
}

.container .left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
}

.container .left .people .person.active, .container .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: var(--blue);
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

.container .left .people .person.active span, .container .left .people .person:hover span {
    color: var(--white);
    background: transparent;
}

.container .left .people .person.active:after, .container .left .people .person:hover:after {
    display: none;
}

.container .right {
    position: relative;
    float: left;
    width: var(--right);
    height: 100%;
}

.container .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
}

.container .right .top span {
    font-size: 15px;
    color: var(--grey);
}

.container .right .top span .name {
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container .right .chat {
    position: relative;
    display: none;
    padding: 0 35px 92px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    height: calc(100% - 48px - (42px * 2));
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.container .right .chat.active-chat {
    display: block;
}

.container .right .chat.active-chat .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.container .right .write {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.container .right .write input {
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    float: left;
    width: calc(100% - 10px);
    height: 40px;
    padding: 0 10px;
    color: var(--dark);
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-weight: 400;
    box-shadow: none !important;
}


.container .right .write .input-button {
    font-size: 20px;
    align-self: center;
    text-decoration: none;
    transition: .5s;
    padding: 2px;
}

.send {
    transform: translateX(-10px);
}

.container .right .write .input-button:hover {
    color: mediumblue;
}
.container .right .write .input-button:active {
    transition: .1s;
    color: red;
}
.chat-element {
    display: flex;
    flex-direction: row;
    gap: 10px;
    animation-duration: .5s;
}
.chat-element.you {
    animation-name: slideFromLeft;
}
.chat-element.me {
    animation-name: slideFromRight;
}
.chat-element img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(17, 99, 255, 0.01) 2px 2px;
    transform: translateY(25px);
}

.chat-element .chat-content {
    display: flex;
    flex-direction: column;
}
.chat-element .chat-content .user {
    display: flex;
    flex-direction: row;
}
.chat-element.me {
    flex-direction: row-reverse;
}

.chat-element .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    user-select: contain;
    word-wrap: anywhere;
}

.chat-element .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.chat-element.you .bubble {
    float: left;
    color: var(--you-color);
    background-color: var(--you-background);
    align-self: flex-start;
}

.chat-element.you .bubble:before {
    left: -3px;
    background-color: var(--you-background);
}

.chat-element.me .bubble {
    float: right;
    color: var(--me-color);
    background-color: var(--me-background);
    align-self: flex-end;
}

.chat-element.me .bubble:before {
    right: -3px;
    background-color: var(--me-background);
}

.container .right .time-line {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

.container .right .time-line span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
}

.container .right .time-line span:before, .container .right .time-line span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: var(--light);
}

.container .right .time-line span:before {
    left: 0;
}

.container .right .time-line span:after {
    right: 0;
}

ul {
    list-style: none;
}

.identity-image {
    transform: translateX(-1px) !important;
    margin: 2px;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}


.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.alert-primary .alert-link {
  color: #06357a;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.alert-info .alert-link {
  color: #04414d;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.alert-warning .alert-link {
  color: #523e02;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f5050;
}

.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
.alert-dark .alert-link {
  color: #101214;
}
