@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', monospace;
}
*, *:after, *:before {
  box-sizing: border-box;
}

:root {
  --c-action-primary: #2e44ff;
  --c-action-primary-accent: #e9e5ff;
  --c-action-secondary: #e5e5e5;
  --c-text-primary: #0d0f21;
  --c-text-secondary: #6a6b76;
  --c-background-primary: #d0d1de;
}

body {
  color: var(--c-text-primary);
  background-color: var(--c-background-primary);
  line-height: 1.5;
}

input, button, select, textarea {
  font: inherit;
}

.modal {
  width: 90%;
  max-width: 500px;
  margin: 10vh auto;
  background-color: #FFF;
  border-radius: .5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--c-action-primary-accent);
}

.logo-circle svg {
  max-width: 1.5rem;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: .25rem;
  border: none;
  background-color: transparent;
}

.btn-close:hover, .btn-close:focus {
  background-color: var(--c-action-primary-accent);
}

.modal-body {
  padding: 1rem 1.5rem;
}

.modal-title {
  font-weight: 500;
}
.hidden {
  opacity: 0;
}
.bx,
.fa {
  font-size: 30px;
  color: var(--c-action-primary);
}
.modal-description {
  color: var(--c-text-secondary);
}

.upload-area {
  margin-top: 1.25rem;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: transparent;
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-area:hover, .upload-area:focus {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.upload-area-icon {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
}

.upload-area-icon svg {
  max-height: 100%;
  max-width: 100%;
}

.upload-area-title {
  margin-top: 1rem;
  display: block;
  font-weight: 500;
  color: var(--c-text-primary);
}

.upload-area-description {
  display: block;
  color: var(--c-text-secondary);
}

.upload-area-description strong {
  color: var(--c-action-primary);
  font-weight: 500;
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}
.message-line {
  width: max-content;
  align-self: center;
  display: inline-block;
  animation: fadeIn 1.5s;
  transition: .5s;
}
.message-line div {
  transition: .5s;
  animation: fadeIn .5s;
}
.message-line .fa {
  transform: translateY(2px);
}
.error {
    color: red !important;
    width: 100%;
    display: flex;
}
.error .fa{
  color: red;
  font-size: 18px;
}
.success {
  color: green !important;
  width: 100%;
  display: flex;
}
.success .fa{
  color: green;
  font-size: 18px;
}
.link {
  background-color: var(--c-action-primary) !important;
  text-decoration: none;
  color: white;
  display: flex;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  margin-top: 3px;
}
.link .fa {
  font-size: 18px;
  color: white;
}
.modal-footer {
  padding: 1rem 1.5rem 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.modal-footer [class*="btn-"] {
  margin-left: .75rem;
}

.btn-secondary, .btn-primary {
  cursor: pointer;
  padding: .5rem 1rem;
  font-weight: 300;
  border: 2px solid var(--c-action-secondary);
  border-radius: .25rem;
  background-color: transparent;
}

.btn-primary {
  cursor: pointer;
  color: #FFF;
  background-color: var(--c-action-primary);
  border-color: var(--c-action-primary);
}
