@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, Monospace, monospace !important;
}

.nunito {
    font-family: 'Nunito', Consolas, Monospace, monospace !important;
}

section {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

section .color {
    position: absolute;
    filter: blur(200px);
    opacity: 0.34;
}


section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #00d2ff;
}

.box {
    position: relative;
    border-radius: 10px;
}

.box .circle {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    filter: hue-rotate(calc(var(--x) * 70deg));
    animation: animate 10s linear infinite;
    animation-delay: calc(var(--x) * -1s);
}


@keyframes animate {
    0%, 100% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
}

.box .circle:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .circle:nth-child(2) {
    top: 150px;
    left: 250px;
    width: 120px;
    height: 120px;
    z-index: 0;
}

.box .circle:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .circle:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 60px;
    height: 60px;
}

.box .circle:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}


.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}
.checkip {
    position: absolute;
    left:0;
    bottom:-10px;
    width: 100%;
    height: 6%;
}

.form .title-div {
    width: max-content;
}
.form .title-div h2 {
    position: relative;
    color: #00aaff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
    background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.compare-h2 {
    background: -webkit-linear-gradient(-70deg, red 0%, #6944ff 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.form .title-div h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 3px;
    background: #ff7170;
    transition: 0.5s;
}

.form .title-div h2:hover:before {
    width: 100%;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.form .input-box.oauth-box {
    font-size: large;
    display: flex;
}

.form .input-box.oauth-box a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20%;
    transition: .3s;
}

.form .input-box.oauth-box span {
    margin: 5px;
    transform: translate(4px, -5px);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    padding: 3px 6px;
    border-radius: 5px;
}

.checkip .inputText {
    width: 100%;
    height:100%;
    margin-top: 20px;
}


.form .input-box input, #submit-box, .oauth-button {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 0.01cm;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}

.form .input-box input:hover, #submit-box:hover, .oauth-button:hover,
.form .input-box input:active, #submit-box:active, .oauth-button:active {
    color: #000;
}


.checkip .inputText input {
    position: absolute;
    width:55%;
    right:20%;
    bottom:50%;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 14px;
    letter-spacing: 1px;
    color: #00aaff

}

.form .input-box input::placeholder {
    color: #666;
    /*transition: 0.5s; placeholder为伪元素, 不可用 */
}

.form .input-box input:hover::placeholder,
.form .input-box input:active::placeholder {
    color: #112;
}

#submit-box, .oauth-button {
    background: #fff;
    color: #666;
    width: min-content;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s !important;
    letter-spacing: 0.02cm !important;
    text-transform: capitalize;
    text-decoration: none;
    user-select: none;
}

.oauth-button {
    width: max-content !important;
    margin: -8px -5% 10px auto;
}

#submit-box:hover, .oauth-button:hover {
    color: #000;
}
.success-icon:hover {
    color: forestgreen !important;
}
.success-icon {
    color: green;
    text-transform: none !important;
}

.forget {
    margin-top: 6px;
    color: #236;
    letter-spacing: -1px;
}

.forget a {
    color: #236;
    font-weight: 600;
    text-decoration: none;
    margin-left: 6px;
}

.captcha-form {
    display: flex;
    flex-direction: row;
}
.captcha-form input{
    text-transform: uppercase;
}
.captcha-form input::placeholder{
    content: "输入验证码";
}
.captcha-form .captcha{
    height: 100%;
    max-height: 50px;
    position: relative;
    border-radius: 4px;
    object-fit: cover;
    z-index: 3;
    transform: translateY(15%);
}

.gradient-hr {
    margin: -18px 9px 40px;
    width: 100%;
    height: 1px;
    color: purple;
}

.oauth-hr {
    margin: 8px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
}

.oauth-hr::before, .oauth-hr::after {
    content: "";
    position: relative;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 1px;
    display: inline-block;
    margin: 9px 5px;
}

.oauth-container {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.oauth {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

@media screen and (orientation: portrait) {
    .login-section {background-image: url("/static/images/background/login-flip.webp");}
    .register-section {background-image: url("/static/images/background/register-flip.webp");}
    .change-section {background-image: url("/static/images/background/change-flip.webp");}
    .bind-section {background-image: url("/static/images/background/bind-flip.webp");}
}
@media screen and (orientation: landscape) {
    .login-section {background-image: url("/static/images/background/login.webp");}
    .register-section {background-image: url("/static/images/background/register.webp");}
    .change-section {background-image: url("/static/images/background/change.webp");}
    .bind-section {background-image: url("/static/images/background/bind.webp");}
}