.header {
    margin: 20px auto;
    display: flex;
    width: max-content;
    background: none !important;
}

.header img {
    width: 64px;
    height: 64px;
}

.main {
    margin: 20px 0;
    display: grid;
    grid-gap: 24px;
    justify-content: center;
}

.main h1 {
    color: #fff;
    font-weight: 100;
    text-align: center;
    height: max-content;
}

.oauth {
    transform: translateY(-6px);
    width: max-content;
    margin: 0 auto;
}

.oauth a:hover {
    background: none;
}

.oauth a svg {
    padding: 2px;
    width: 36px;
    height: 36px;
    fill: var(--el-text-color-primary);
    border-radius: 50%;
    margin: 0 8px;
    transition: .25s;
}

.oauth svg:hover {
    padding: 0;
}

.validate-button {
    background: #238623;
    color: #fff !important;
    border-color: rgba(240, 246, 252, 0.1) !important;
    width: 100%;
}

.validate-button:hover,
.validate-button:active,
.validate-button:focus {
    background: #2ea043;
}

.help {
    padding: 8px 20px;
    background: transparent;
    text-align: center;
}