@import './base.css';

html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  font-weight: normal;
  overflow-x: hidden;
}

a,
.link {
  text-decoration: none;
  color: #58a6ff;
  transition: 0.4s;
  padding: 1px 2px;
  margin: 0 1px;
  border-radius: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(88, 166, 255, .2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
