<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link href="{% static 'css/blog/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog/monokai.css' %}" rel="stylesheet">
    <link href="https://lib.baomitu.com/layui/2.7.6/css/layui.min.css" rel="stylesheet">
</head>
<body>
<div class="layui-col-xs11 layui-col-md9 layui-col-sm10 blog-content layui-anim-fadein">
    {% csrf_token %}
    <a href="javascript:window.history.back();" class="back"><i class="layui-icon layui-icon-left"></i> 返回</a>
    <h1 class="blog-title">{{ article.title }}</h1>
    <br>
    <div class="blog-info">
        <div class="column">
            <a href="/profile?id={{ article.author.id }}/" target="_blank"><img src="{{ article.author.avatar_url }}" alt>&nbsp;{{ article.author.username }}</a>
            <div class="time"><i class="layui-icon layui-icon-time"></i> 发布于 {{ article.datetime }}</div>
        </div>
        <div class="column tags">
            文章标签:
            {% for tag in article.tags.all %}
                <span class="tag layui-badge-rim">{{ tag.tag }}</span>
            {% empty %}
                无
            {% endfor %}
        </div>
    </div>
    <hr>
    <div id="content" class="layui-card-body">
        {{ article.content_html | safe }}
    </div>
    <br><hr>
    <div class="blog-footer">
        <button type="button" class="layui-btn layui-btn-primary">
            <div class="time"><i class="layui-icon layui-icon-username"></i> {{ article.author.username }}</div>
        </button>
        <button type="button" class="layui-btn layui-btn-primary">
            <div class="time"><i class="layui-icon layui-icon-time"></i> 发布于 {{ article.datetime }}</div>
        </button>
        <button id="like" type="button" class="layui-btn layui-btn-primary">
            <i class="layui-icon layui-icon-heart layui-font-red" id="like-icon"></i>&nbsp;<span id="like-number"></span>
        </button>
    </div>
</div>
<div class="layui-col-xs11 layui-col-md9 layui-col-sm10 blog-content layui-anim-fadein">

</div>
<script src="https://lib.baomitu.com/jquery/1.12.4/jquery.js"></script>
<script src="https://lib.baomitu.com/layui/2.7.6/layui.min.js"></script>
<script src="{% static 'js/notify.js' %}"></script>
<script src="{% static 'js/blog/article.js' %}"></script>
<script>
    const like = new Like({{ article.likes_number }}, {{ state }}, {{ article.id }});
</script>
</body>
</html>