<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Blogs</title>
</head>
<body>
    <div class="col-md-9">
    <div class="row text-center vertical-middle-sm">
        <h1>搜索结果</h1>
    </div>
    {% if query %}
        {% for result in page.object_list %}<div class="media">
            <a href="{{  result.object.get_absolute_url }}" class="list-group-item active">
                    {% if result.object.avatar %}
                        <div class="media-left">
                            <img src="{{  result.object.avatar.url }}" alt="avatar" style="max-width: 100px; border-radius: 20px">
                        </div>
            {% endif %}
                <div class="media-body">
                    <h4 class="list-group-item-heading">{{ result.object.title }}</h4>
                    <p class="list-group-item-text">作者：{{ result.object.author.username }}</p>
                    <p class="list-group-item-text">概要：{{ result.object.preview }}</p>
                    {% for tag in result.object.tags.all %}
                        <p class="list-group-item-text">标签：{{ tag.tag }}</p>
                    {% endfor %}
                </div>
            </a>
        </div>
            {% empty %}
            <h3>没有找到相关文章</h3>
        {% endfor %}
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?q={{ query }}&page={{ page.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?q={{ query }}&page={{ page.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div></div>
</body>
</html>